.portfolio {
   max-width: 1200px;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding: 7rem 1.5rem 0 1.5rem;
   background-color: #050505;
}

.section__portfolio-title {
   font-size: 2.25rem;
   color: #6c2cbc;
}

.section__portfolio-subtitle{
   color: #d3d3d3;
}

.portfolio__container{
   max-width: 900px;
   margin: 0 auto;
   padding-top: 4rem;
   display: grid;
   justify-content: space-around;
   row-gap: 3rem;
   grid-template-columns: repeat(1, 99%);   
   background-color: #050505;
}

.project__box{
   background-color: #050505;
   display: grid;
   grid-template-columns: 35% 65%;
   
   justify-content: space-around;
   column-gap: 1.2rem;
   border: 1px solid rgba(18, 18, 20, 0.9);
   box-shadow: 1px 6px 100px #242c58b4, -1px -4px 20px #242c58b4;
   border-radius: 1.5rem;
  /* padding: 1rem 0.5rem 1rem 1.5rem; */
   text-align: left;
   overflow: hidden;
}
.project__img_content {
   display: flex;
   align-items: center;
   margin: .5rem 0 .5rem 1rem;
}
.project__img{
   width: auto;
   height: auto;
   border-radius: 1rem;
}

.project__box_separator {
   display: flex;
}
.project__data{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
   background-color: rgba(18, 18, 20, 0.9);
   border-radius: 0 1.5rem 1.5rem 0;
}

.project__title{
   font-size: 1rem;
   color: #d3d3d3;
   margin: 1rem 1.5rem;
}
.project__describe{
   font-size: 0.885rem;
   font-weight: 300;
   color: #d3d3d3;
   overflow: hidden;
   width: 98%;
   text-align: justify;
   padding-right: 1.5rem;
   padding-left: 1.5rem;
   line-height: 1.6rem;
   letter-spacing: .7px;
}

.project__button{
   font-size: 1.1rem;
   display: inline-flex;
   align-items: center;
   justify-items: center;
   color: #d3d3d3;   
   margin-top: .5rem;
   margin-left: 1.5rem;
   padding-bottom: 1.5rem;
   border: none;
   background: transparent;
   cursor: pointer;
   transition: transform 0.3s;
   text-shadow: 0 5px 15px #5b6cd5;
   text-shadow: -3px 0 -15px #5b6cd5;
   
}
.project__button-icon{
   font-size: 1rem;
   transition: 0.3s;

}

.project__button:hover .project__button-icon {
   transform: translate(0.5rem);
}

/* For medium devices */
@media screen and (max-width: 6500px) {
   .project__data{
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-top: 0.1rem;
   }
   .project__button{
      font-size: .8rem;
   }
}

@media screen and (max-width: 555px) {
   .project__describe{
      font-size: 0.815rem;
   }
   .project__button{
      font-size: 0.715rem;
   }
}

@media screen and (max-width: 519px) {
   .project__title{
      font-size: 0.945rem;
   }

   .project__describe{
      font-size: 0.775rem;
   }
   .project__button{
      font-size: 0.685rem;
   }
}
@media screen and (max-width: 484px) {
   .portfolio__container{
      display: flex;
      flex-direction: column;
      align-items: center;
    
   }
   .project__box{
      display: grid;
      grid-template-columns: 1fr;
      width: 20rem;
      height: auto;
      padding: 1.2rem 1rem 0 1rem;

   }
   .project__data{
      background-color: transparent;
   }
   .project__title{
      font-size: 0.945rem;
      display: none;
   }

   .project__describe{
      font-size: 0.775rem;
      display: none;
   }
   .project__button{
      font-size: 0.885rem;
      bottom: -1rem;
      left: 0.8rem;
      box-shadow: 0 1px 0px blue
   }
   .project__img_content{
      margin: 0.5rem;
   }

   .project__img{

   }
}