.skills {
   max-width: 1200px;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding-top: 8rem;
   background-color: #050505;
}

.section__skills-title {
   font-size: 2.25rem;
   color: #6c2cbc;
}

.section__skills-subtitle{
   display: block;
   font-size: 0.87rem;
   margin-bottom: 3.4rem;
   color: #d3d3d3;
}

.skills__container{
   display: grid;
   grid-template-columns: 350px 350px;
   justify-content: space-around;
   padding-top: 3rem;
   padding-left: 3rem;
   padding-right: 3rem;
}

.skills__content{
   border-radius: 1.25rem;
   background-color: rgba(18, 18, 20, 0.9);
   box-shadow: 1px 6px 20px #242c58b4, -1px -4px 30px #242c58b4;
   padding: 2rem 0;
}

.skills__title{
   font-size: 1.2rem;;
   font-weight: 500;
   text-align: center;
   color: #d3d3d3;
   margin-top: rem;
   margin-bottom: 2.5rem;
}

.skills__box{
   display: flex;
   justify-content: center;
   column-gap: 3.5rem; 
}

.skills__group{
   display: grid;
   align-items: flex-start;
   row-gap: 2.5rem;
}

.skills__data{
   display: flex;
   column-gap: 0.5rem;
   text-align: left;
}

.skills .bx-badge-check {
   font-size: 1rem;
   color: #d3d3d3;
}


.skills__name{
   font-size: 1rem;
   font-weight: 500;
   line-height: 18px;
   margin-bottom: 0.5rem;
   color: #d3d3d3;
}

.skills__level{
   font-size: 0.725rem;
   font-weight: 300;
   color: rgb(124, 126, 124);
   
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 790px) {
   .skills__container {
      grid-template-columns: max-content;
      row-gap: 2rem;
   }

   .skills__content{
      padding-left: 3rem;
      padding-right: 3rem;
   }

   .skills__group {
      row-gap: 2rem;
   }

}

/* For small devices */
@media screen and (max-width: 480px) {
   .skills {
      padding-top: 4.5rem;
   }

   .section__skills-subtitle{
      margin-bottom: 2.4rem;
   }

   .skills__content{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
   }
   .skills__name {
      font-size: 0.875rem;
   }
}